$font: Arial, Helvetica, sans-serif;
$light-color: #b5b8c5;
$menu-background-color: black;
$primary-color: #447bff;
$dark-color: #131313;
$background-color: #f1f6fa;
$search-input-color: #ebf1f7;
$chat-background-color: #f8fafd;
$primary-color-hover: #6390fa;
$light-color-opacity: #b5b8c57c;

